
/* l- login-signup */
.inputText
     {
    width:  250px;
    padding: 10px 15px 10px 45px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0;  
    }
.submitbtn {
    width: 250px;
    background-color: rgb(130, 129, 129);
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    }    
.submitbtn:hover {
    background-color: black;
    transform: scale(1.05);
    }
h2:hover{
        background-color:  black;
        transform: scale(1.1);
    }
.fade-out{
        animation: fadeOut 1s forwards;
    }
@keyframes faadeOut {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
.signup-btn{
    display: inline-block;
    padding: 8px 12px;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.2s;
}
.signup-btn:hover{
    background-color:black;
    transform: scale(1.05);
}
.login-text{
    margin: 0;
    padding: 20px;
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.textEmail{
    position: absolute;
    width: 95px;
    text-align: center;
}
.textPassword{
    position: absolute;
    width: 120px;
    margin-bottom: 10px;
    text-align: center;
}
.login-btn{
    margin: 0;
    padding: 0;
    text-align: center;
}
.signup-text{
    margin: 0;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    text-align: center;
}
.fullname{
    position: absolute;
    width: 110px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.email{ 
    position:absolute;
    width: 90px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.password{
    position: absolute;
    width: 110px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.confirm-password{
    position: absolute;
    width: px;
    margin: 0;
    padding: 0;
    left: 50px;
    text-align: center;
}
.register-btn{
    margin: 0;
    padding: 0;
    text-align: center;
}
.loginbtn{
    margin-top: 20px;
    padding: 0;
    text-align: center;
}
.signup{
    padding: 0;
    font-size: 17px;
    text-align: center;
}
.login{
    padding: 0;
    font-size: 17px;
    text-align: center;
}
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 350px;
}
.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 350px; 
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
}
.input-container i {
    position: absolute;
    left: 35px; 
    color: white;
    font-size: 20px;
    pointer-events: none;
}
.check-box{
    position: absolute;
    font-size: 15px;
    margin: -15px 0 0 20px;
}
.background{
    background-image: url("pic.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;    
}
.form-container {
    display: none;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 3%;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.form-container.active {
    display: flex;
}
.background1 {
    background-image: url("pic.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  
    height: 840px;
    position: relative;
    top: -100px;

}
.signup-btn, .switch-btn {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}


/* home */
body{
    margin: 0;
}
.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(185, 192, 109);
    border-radius: 15px;
    font-size: 18px;
    height: auto;
    width: auto;
    border: 0px;
}
.btn:hover{
    background-color: black;
    transform: scale(1.05);
    transition: 0.3s;
}
.header {
    position: absolute;
    position: sticky;
    top: 0;
    background: rgba(142, 140, 140, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    z-index: 1000;
    width: 100%;
    height: 75px;
}
.vendor {
    position: relative;
    bottom: -30px;
    right: 490px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
.nav-links {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding: 0;
    margin-left: 950px;
}
.menu{
    padding-top: 20px;
}
a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
}
a:hover{
    color: rgba(185, 192, 109);
    transform: scale(1.05);
    transition: 0.3s;
} 
.logo{
    background: rgb(255, 255, 255);
    position: relative;
    left: 70px;
    width: 70px;
    height: 70px;
    border-radius: 350px;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}
.imgs{
    position: absolute;
    border: solid rgb(163, 168, 106)1px ;
    border-radius: 30px;
    margin-left: 60px;
    height: 60px;
    top: 5px;
}
.names {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-style: italic;
    left: 140px;
    top: 30px;
    font-size: 15px;
    color: rgb(154, 150, 150);
}
.highlight {
    color: rgb(185, 192, 109);
    margin-right: 10px;
    display: inline-block; 
    font-weight: bold;
}
.landing-page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    color: white;
    left: -260px;
    top: -110px;
}
.landing {
    position: relative;
    right: 435px;
    top: -25px;
    font-size: 400%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}
.highlight1 {
    color: rgb(255, 255, 255);
    display: inline-block; 
    font-weight: bold;
}
.my-page{
    position: absolute;
    color: rgb(130, 129, 129);
    font-size: 13px;
    top: -px;
    left: 5px;
}
.link{
    color: rgb(130, 129, 129);
    position: absolute;
    font-size: 20px;
    right: 340px;
    top: 300px;
}
.btn-viewcv {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left: 100px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s;
}
.btn-viewcv:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}


html{
    scroll-behavior: smooth;
}
/* abouty */

.background-about{
    background-image: url(backgound1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;    
    top: -100px;
}
.about{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: black;
    top: -150px;
}
.paragraph{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    color: black;
    align-items: center;
    font-size: 20px;
    right: 100px;
    top:  70px;
    width: 500px;
}
